.espaTitulo app-boton-expe {
    float: right;
}

.seccion {
    width: 98%;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    margin: 0px 0px 0px 7px;
    background-color: rgba(255, 255, 255, 0.63);
    margin-top: 7px;
}

h3 {
    font-size: 20px;
    margin: 15px 0px 0px 30px;
    float: left;
}