<div class="form">
    <form [formGroup]="activeForm" *ngIf="abrirEducacion" novalidate>

        <div class="form-control">
            <label for="entidad">Entidad educativa</label>
            <input formControlName="entidad" type="text" name="entidad" id="entidad"
                placeholder="Entidad educativa a la que asististe" required>
        </div>

        <div class="form-control">
            <label for="titulo">Titulo optenido</label>
            <input formControlName="titulo" type="text" name="titulo" id="titulo" placeholder="Tu puesto en la empresa"
                required>
        </div>

        <div class="form-control">
            <label for="fecha">Fecha de cursada</label>
            <input formControlName="fecha" type="text" name="fecha" id="fecha"
                placeholder="Fecha en la que se te contrato" required>
        </div>

        <div class="form-control">
            <label for="ubicacion">Ubicacion</label>
            <input formControlName="ubicacion" type="text" name="ubicacion" id="ubicacion"
                placeholder="Lugar del trabajo" required>
        </div>

        <input type="button" value="Guardar" (click)="onSubmit(activeForm)" class="boton">
    </form>
</div>